[ots]
endpoint=http://xxx:xxx
accessid=xxx
accesskey=xxx
instance_name=xxx
table_name=elasticsearch_data
read_cu=1000
write_cu=1000

[elasticsearch]
cluster_name=ots_elasticsearch
host=localhost
port=9200
java_port=9300
index=es_idx
type=web
fields=["title", "url", "content"]

[spider]
thread_num=10
